<style>
    :root {
        --color-primary: {{colors:primary}};
        --color-secondary: {{colors:secondary}};
        --color-tertiary: {{color:tertiary}};
        --color-success: {{color:success}};
        --color-info: {{color:info}};
        --color-warning: {{color:warning}};
        --color-danger: {{color:danger}};
        --color-light: {{color:light}};
        --color-dark: {{color:dark}};

        color-scheme: only dark;
        /*color-scheme: only light;*/
    }


    /* BOOTSTRAP COLORS */
    /*
        primary: #007bff
        secondary: #6c757d
        tertiary:
        success: #198754
        warning: #ffc107
        danger: #dc3545
        info: #0dcaf0
        light: #f8f9fa
        dark: #212529

        primary-background: #cfe2ff
        secondary-background: #e2e3e5
        tertiary-background: #
        success-background: #d1e7dd
        warning-background: #fff3cd
        danger-background: #f8d7da
        info-background: #cff4fc
        light-background: #fefefe
        dark-background: #d3d3d4

        primary-text: #084298
        secondary-text: #0f5132
        tertiary-text: #
        success-text: #d1e7dd
        warning-text: #664d03
        danger-text: #842029
        info-text: #0551
        light-text: #636464
        dark-text: #141619

        primary-border: #b6d4fe
        secondary-border: #d3d6d8
        tertiary-border:
        success-border: #badbcc
        warning-border: #ffecb5
        danger-border: #f5c2c7
        info-border: #b6effb
        light-border: #fdfdfe
        dark-border: #bcbebf

    */

    ::-moz-selection { /* Code for Firefox */
        color: black;
        background: black;
    }

    ::selection {
        color: black;
        background: white;
    }
</style>
